div.work img,
div.workw img {
  border: 10px solid transparent;
  -webkit-border-image: url(/assets/img/border.png) 50 round;/* Safari 3.1-5 */
  -o-border-image: url(/assets/img/border.png) 50 round;/* Opera 11-12.1 */
  border-image: url(/assets/img/border.png) 50 round;
}
