.center-pagination {
  margin-top: 25px;
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: #212529;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #dddddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #343A40;
  color: white;
  border: 1px solid #343A40;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
