.object-fit {
  float:left;
  width:49%;
  height:100%;
  object-fit:cover;
  margin: 0.5%;
}

div.items {
  padding-bottom: 25px;
  height: auto;
}

div.items div.work {
  width:100%;
  height:500px;
}
div.items div.workw {
  width:100%;
  height:250px;
}
