/*******************************************************************************
*********************************************************************** "ÍNDICE"
* # General
* ## Fonts
* # Header
* # Nav
* # Main
* # Footer
*******************************************************************************/

/* # General
*******************************************************************************/

html, body {
  padding: 0;
  margin: 0;
}

body {
  background-color: #343A40;
}

.container {
  background-color: #f7f7f9;
  padding: 25px 25px 46px 25px; /* superior, derecha, inferior, izquierda */
  position: relative;
  margin: auto;
  max-width: 990px;
  height: auto;
}

/* ## Fonts
*******************************************************************************/

h1, h2, h3, h4, h5, h6 {
  font-family: 'Eczar', serif;
}

p, a {
  font-family: 'Work Sans', sans-serif;
}

/* Header
*******************************************************************************/

header {
  height: 82vh;
  padding: 10px;
}

/* # Nav
*******************************************************************************/

nav {
  background-color: #343A40;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 7px 7px;
  text-decoration: none;
}

/* # Main
*******************************************************************************/

main {
  color: #212529;
}

/* # Footer
*******************************************************************************/

footer {
  color: #ffffff;
  text-align: center;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}
